@import "fonts";
@import "rouge-github";

body {
  background-color: #fff;
  padding:50px 5px 50px 5px;;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#727272;
  font-weight:400;
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
  text-align:left;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
}

h1.left {
  text-align:left;
  font-size:45px;
  line-height:2;
  font-weight:2000;
}

h2 {
  color:#393939;
}

h3, h4, h5, h6 {
  color:#494949;
}

a {
  color:#267CB9;
  text-decoration:none;
}

a:hover, a:focus {
  color:#069;
  font-weight: bold;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.3em;
  display:block;
}

a:hover small {
  color:#777;
}

p.active a {
  color:#069;
  font-weight: bold;
}

.wrapper {
  width:860px;
  margin:0 auto;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
  width:100%;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color:#333;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}

dt {
  color:#444;
  font-weight:700;
}

th {
  color:#444;
}

img.profilephoto {
  display:block;
  max-width:250px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:20px;
}

img.icon {
  display:block;
  width:60px;
  height:60px;
  margin-left: auto;
  margin-right: auto;
}

.linkbox {
  height:80px;
  text-align:center;
}

.innerleft {
  display:inline-block;
  text-align:right;
  float:left;
  width:45%;
}

.innerright {
  display:inline-block;
  text-align:left;
  float:right;
  width:45%;
}

header {
  width:270px;
  float:left;
  clear:left;
  position:fixed;
  -webkit-font-smoothing:subpixel-antialiased;
}

header p, header h1, footer p {
  text-align:center;
}

strong {
  color:#222;
  font-weight:700;
}

section {
  width:500px;
  float:right;
  clear:right;
  padding-bottom:50px;
}

section h1, section h2, section h3 {
  text-align:center;
}

section p {
  text-align:justify;
}

section p.subtitle {
  text-align:center;
  font-style: italic;
}

small {
  font-size:11px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

footer {
  text-align:center;
  width:270px;
  float:left;
  clear:left;
  position:fixed;
  bottom:50px;
  -webkit-font-smoothing:subpixel-antialiased;
}

@media screen and (max-height: 900px) {
  
  header, footer {
    position:static;
  }
  
}

@media screen and (max-width: 960px) {

  div.wrapper {
    width:100%;
    max-width:500px;
    margin:0 auto;
  }
  
  header, section, footer {
    float:none;
    position:static;
    width:100%;
  }

  section {
    padding:20px 0;
    margin:0 0 20px;
    border-top:solid #e5e5e5 1px
  }

}
